<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/criar-evento-styles.css">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="conteudo">

      <h1 class="titulo">Crie e compartilhe <br> seu evento</h1>
      <small>O primeiro passo, é preencher esse <br> formulário de evento.</small>

    </div>

  </div>
  <div class="formulario">
    <h2>Informações do Evento</h2>
    <form>
      <label for="nome">Titulo do evento</label>
      <input type="text" name="nome" placeholder="Nome do evento">

      <label for="local">Local</label>
      <input type="text" name="local" placeholder="Local do evento">

      <label for="data">Data</label>
      <input type="date" name="data">

      <button type="submit">Criar</button>
    </form>
  </div>
</body>

</html>