<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/evento-styles.css">
  <title>Eventos</title>
</head>

<body>
  <h1>Eventos</h1>

  <ul>
    <li>
      <strong>Nome:</strong> Evento 1
      <strong>Data:</strong> 01/01/2024
      <strong>Local:</strong> Local 1
      <a href="/eventos/1">Detalhes</a>
    </li>
  </ul>

  <a href="/criar-evento">Criar evento</a>
  <a href="/sair">Voltar</a>
</body>

</html>