<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/home-styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">RKzin</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <h1>Bem-vindo ao APP Eventos</h1>
    </div>
</body>
</html>
